<div class="row marketing">
    <div class="col-md-3" class="scrollable">
        <h4>Equipment</h4>
        <div kendo-tree-view k-options="treeOptions" k-data-source="hierarchicalEquipments" class="scrollable"></div>
    </div>
    <div class="col-md-9" class="scrollable">
        <h4>Downtime Events</h4>
        <div kendo-grid k-options="gridOptions" k-data-source="downtimeEvents"></div>
    </div>
</div>

<div class="row marketing">
    <h4>Equipment Grid</h4>
    <div kendo-grid k-options="equipGridOptions" k-data-source="flatEquipments"></div>
</div>




